.footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    @include flexPosition(space-around);
    padding: 5rem 0;
    border-top: .1rem solid color(primary);
}

.footer-nav {
    @include footerList;
}

.contct-list {
    @include footerList;
}

.contact {
    &-heading {
        font-size: size(xl);
        color: color(primary);
        text-align: center;
    }
}