body {
    margin: 0;
    padding: 0;
    /* overflow: hidden;    */
}

#layer1 {
    height: 100%;
    width: 300%;
    position: absolute;
    background-image: url('./images/1Layer1.png');
    background-size: 100%,100%;
    top: 1%;
    animation-name: left;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,1.0,1.0,1.0) 

}
#layer2 {
    height: 100%;
    width: 300%;
    position: absolute;
    background-image: url('./images/2Layer2.png');
    background-size: 100%,100%;
    top: 10%;
    z-index: -1;
    animation-name: left;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,1.0,1.0,1.0) 
}
#layer3 {
    height: 100%;
    width: 300%;
    position: absolute;
    background-image: url('./images/3Layer3.png');
    background-size: 100%,100%;
    top: 10%;
    z-index: -2;
    animation-name: left;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,1.0,1.0,1.0) 
}
#layer4 {
    height: 100%;
    width: 300%;
    position: absolute;
    background-image: url('./images/4Layer4.png');
    background-size: 100%,100%;
    top: 15%;
    z-index: -3;
    animation-name: left;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,1.0,1.0,1.0) 
}
#layer5 {
    height: 100%;
    width: 300%;
    position: absolute;
    background-image: url('./images/5Mountains.png');
    background-size: 100%,100%;
    top: 15%;
    z-index: -4;
    animation-name: left;
    animation-duration: 150s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,1.0,1.0,1.0) 
}
#layer6 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('./images/6Sun.png');
    background-size: 100%,100%;
    top: 0%;
    z-index: -5;
}
#layer7 {
    height: 100%;
    width: 300%;
    position: absolute;
    background-image: url('./images/7Clouds.png');
    background-size: 100%,100%;
    top: 0%;
    z-index: -6;
    animation-name: left;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,1.0,1.0,1.0) 
}
#layer8 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('./images/8Stars.png');
    background-size: 100%,100%;
    top: 0%;
    z-index: -7;
}
#layer9 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('./images/9Background.png');
    background-size: 100%,100%;
    top: 0%;
    z-index: -8;
}
#camel {
    height: 8%;
    width: 8%;
    background-size: 90%;
    position: absolute;
    background-image: url('./images/camel1.gif');
    z-index: -3;
    top: 57%;
    animation-name: right;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,1.0,1.0,1.0) 
}

@keyframes left {
    0% {
        left: 0%;
    }
    100% {
        left: -200%;
    }
}
 @keyframes right {
     0% {
         left: -10%;
     } 
     100% {
         left: 120%;
     }
 }
